<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245880670486-16va5hmsqbrlhrdfv35rraruggai2ulu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245880670486-16va5hmsqbrlhrdfv35rraruggai2ulu</string>
	<key>API_KEY</key>
	<string>AIzaSyBoeDRSplcyMdXVwiayUyKP-aQBgMuLjnM</string>
	<key>GCM_SENDER_ID</key>
	<string>245880670486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infiniteAthlete</string>
	<key>PROJECT_ID</key>
	<string>infiniteathletesapp</string>
	<key>STORAGE_BUCKET</key>
	<string>infiniteathletesapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245880670486:ios:93198f22dae2a24cbb6837</string>
	<key>DATABASE_URL</key>
	<string>https://infiniteathletesapp.firebaseio.com</string>
</dict>
</plist>